{% load static %}

{% if user.is_authenticated %}
<div id="create-poll-form">
  <h1>Create a Poll</h1>

  <form class="poll-form" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <div class="question-form">
      {{ poll_form }}
    </div>

    <div class="choice-form">
      <h4>Add choices</h4>
      <p>Remember to click the Add button to save the extra choices!</p>
      <div class="fields">
        {{ choice_formset }}
      </div>
      <div id="submit-add">
        <button class="btn btn-primary" type="submit">Create</button>
        <button id="add-extra-choice-btn" onclick="addExtraChoiceField()" class="btn btn-outline-primary"
          type="button">Add extra choice</button>
      </div>
    </div>
  </form>
</div>
{% else %}
<div id="sign-in-form">
  <h1 id="sign-in-prompt">
    Sign in to vote and create your own polls!
  </h1>

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <form class="login-form" action="{% url 'login_user' %}" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control" id="floatingInput1" placeholder="Password">
      <label for="floatingInput1">Password</label>
    </div>
    <div class="row form-buttons">
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Sign In</button>
      </div>
      <div class="col-9 alternative-buttons">
        <p class="form-prompt mx-3 mb-1 mt-2">Don't have an account?</p>
       <button type="button" class="btn btn-secondary" onclick="displayRegister()">Register</button>
      </div>
    </div>
  </form>
</div>

<div id="register-form">
  <h1>Register</h1>

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <form class="register-form" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" name="username" class="form-control" id="floatingInput2" placeholder="Username">
      <label for="floatingInput2">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password" class="form-control" id="floatingInput3" placeholder="Password">
      <label for="floatingInput3">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password2" class="form-control" id="floatingInput4" placeholder="Confirm password">
      <label for="floatingInput4">Confirm password</label>
    </div>
    <div class="row form-buttons">
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
      <div class="col-9 alternative-buttons">
        <p class="form-prompt mx-3 mb-1 mt-2">Already have an account?</p>
        <button type="button" class="btn btn-secondary" onclick="displayLogin()">Sign In</button>
      </div>
    </div>

  </form>
</div>
{% endif %}