{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}Polls{% endblock %}</title>
  
  <!-- Bootstrap related -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{% static 'polls/styles.css' %}">
  <link rel="stylesheet" href="{% static 'polls/polls.css' %}">
  <link rel="stylesheet" href="{% static 'polls/media_queries.css' %}">
  <script src="{% static 'polls/index.js' %}"></script>
</head>

<body>
  <div class="elements">
    {% include 'polls/elements.html' %}
  </div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span class="title fs-4">Polls</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-3" id="navbarNavAltMarkup">
        {% if user.is_authenticated %}
          <div class="user-logout">
            <p>Welcome <strong>{{ user.username }}</strong></p>
            <a href="{% url 'logout_user' %}">Log Out</a>
          </div>
        {% endif %}
        <div class="navbar-nav navbar-forms">
          
        </div>
      </div>
    </div>
  </nav>

  <div class="main">
  
    <input type="hidden" id="section" value="all_polls">
  
    <div class="sidebar">
      <a href="{% url 'index' %}" class="text-decoration-none">
        <span class="title fs-4">Polls</span>
      </a>
      <hr>

      {% if user.is_authenticated %}
        <div class="user-logout">
          <p>Welcome <strong>{{ user.username }}</strong></p>
          <a href="{% url 'logout_user' %}">Log Out</a>
        </div>
      {% endif %}
      
      <div class="sidebar-forms">
        
      </div>
    </div>
  
    <div class="polls-section w-100">
      {% include 'polls/polls.html' %}
    </div>
  
  </div>

  <script>
    const csrfToken = '{{ csrf_token }}'
  </script>
</body>

</html>