{% load static %}
<div class="parameters mx-auto">
  <div class="input-group">
    <label class="input-group-text rounded-start" for="category-select">Category</label>
    <select class="form-select form-control rounded-end" id="category-select">
      <option selected>All</option>
      <option value="Politics">Politics</option>
      <option value="Sports">Sports</option>
      <option value="Games">Games</option>
      <option value="Music">Music</option>
      <option value="Fashion">Fashion</option>
      <option value="Development & Programming">Dev & Programming</option>
      <option value="Other">Other</option>
    </select>
  
    <label class="input-group-text rounded-start" for="order-select">Order by...</label>
    <select class="form-select" id="order-select">
      <option selected>Most recent</option>
      <option value="Most voted">Most voted</option>
      <option value="Trending">Trending</option>
    </select>

  </div>
  <button type="button" onclick="refreshPolls()" class="search-btn btn btn-light">Search</button>

  {% if user.is_authenticated %}
  <div class="input-group">
    <button type="button" onclick="togglePolls('home')" class="btn btn-light">All polls</button>
  
    <button type="button" onclick="togglePolls('my polls')" class="btn btn-light">My polls</button>
  </div>
  {% endif %}
</div>    

<div class="polls">
</div>