body {
    overflow: hidden;
}

br {
    color: #6c757d;
}
/* Navbar styles */
.navbar {
    background-color: gray;
    text-decoration: none;
}

.navbar-brand {
    color: white;
}

.collapse {
    align-items: end;
}

.navbar-nav {
    align-items: end;
}

/* Polls section styles */
.polls {
    width: 60%;
    height: 900px;
    padding: 20px;
    background-color: rgb(200, 200, 200);
    overflow: scroll;
}

.poll, .poll-choices {
    background-color: antiquewhite;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.choices {
    display: none;
    gap: 16px;
    column-gap: 10px;
    padding: 10px;
}

.choice {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

.voted {
    background-color: rgb(225, 245, 255);
}

.display-choices {
    display: flex;
    align-items: center;
}

.bi-arrow-bar-down, .bi-arrow-bar-up {
    width: 100%;
    color: #6c757d;
}

.bi-arrow-bar-down:hover, .bi-arrow-bar-up:hover {
    color: black;
}

.parameters {
    display: flex;
}

#category-select, #order-select {
    margin-right: 10px;
}

/* FORMS STYLES */

.forms {
    padding: 20px;
    padding-right: 50px;
}

/* Create poll styles */

.poll-form {
    padding-right: 20px;
}

#id_question_text, #id_category {
    margin-bottom: 20px;
}

.choice-form > div {
    margin-bottom: 20px;
}

.choice-form > p {
    font-size: small;   
}

#add-extra-choice, .extra-choice {
    display: flex;
}

#add-extra-choice-btn, #remove-choice-btn {
    margin-left: 10px;
}

#remove-choice-btn {
    color: red;
    border-color: red;
}

#remove-choice-btn:hover {
    color: white;
    border-color: red;
    background-color: red;
}



/* Auth styles */
#sign-in-prompt, #register-prompt {
    margin-bottom: 50px;
}

#register-form {
    display: none;
}

.form-buttons {
    display: flex;
}

.alternative-buttons {
    display: flex;
    justify-content: end;
}

.form-prompt {
    width: fit-content;
}
