body {
    overflow: hidden;
}

/* Navbar styles */
.navbar {
    background-color: gray;
    text-decoration: none;
}

.navbar-brand {
    color: white;
}

/* Polls section styles */
.polls {
    width: 60%;
    height: 900px;
    padding: 20px;
    background-color: rgb(200, 200, 200);
    overflow: scroll;
}

.poll {
    background-color: antiquewhite;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
}

/* Create poll section styles */
.create-poll {
    padding: 20px;
}

.poll-form {
    padding-right: 20px;
}

#id_question_text, #id_category {
    margin-bottom: 20px;
}

.choice-form > div {
    margin-bottom: 20px;
}

.choice-form > p {
    font-size: small;   
}

#add-extra-choice, .extra-choice {
    display: flex;
}

#add-extra-choice-btn, #remove-choice-btn {
    margin-left: 10px;
}

#remove-choice-btn {
    color: red;
    border-color: red;
}

#remove-choice-btn:hover {
    color: white;
    border-color: red;
    background-color: red;
}