body {
    overflow: hidden;
    background-color: rgb(75, 75, 75);
}

br {
    color: #6c757d;
}

.main {
    display: flex;
}

.navbar {
    display: none;
}

/* Sidebar styles */

.sidebar {
    padding: 20px;
    height: 100vh;
    min-width: 350px;
    max-width: 25%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.title {
    color: black !important;
    font-size: 50px;
    font-style: italic;
    text-decoration: none !important;
}

.user-logout {
    display: flex;
    width: 100%;
}

.user-logout > a {
    text-decoration: none;
    margin-left: auto;
}

/* Create poll form styles */

.poll-form {
    padding-right: 20px;
}

#id_question_text, #id_category {
    margin-bottom: 20px;
}

.choice-form > div {
    margin-bottom: 20px;
}

.choice-form > p {
    font-size: small;   
}

#add-extra-choice, .extra-choice {
    display: flex;
}

#add-extra-choice-btn, #remove-choice-btn {
    margin-left: 10px;
}

#remove-choice-btn {
    color: red;
    border-color: red;
}

#remove-choice-btn:hover {
    color: white;
    border-color: red;
    background-color: red;
}


/* Auth styles */
#sign-in-prompt, #register-prompt {
    margin-bottom: 50px;
}

#register-form {
    display: none;
}

.form-buttons {
    display: flex;
}

.alternative-buttons {
    display: flex;
    justify-content: end;
}

.form-prompt {
    width: fit-content;
}
